*{
  margin: 0;
  padding:0;
}

body{
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color:#fff;
  line-height: 1.6;
}

#showcase{
  background-image: url('../landingpagepic.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0 20px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#showcase h1{
  font-size: 50px;
  line-height: 1.2;
}

#showcase p{
  font-size: 20px;
}

#showcase .button{
  font-size: 18px;
  text-decoration: none;
  color:#fff;
  border:#fff 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: all .3s ease-out;
}

#showcase .button:hover{
  background: rgba(95, 51, 152, 0.75);
  transition: .3 ease-in;
}
